/*Fichier de mise en forme de la zone des modules*/

.nav{
    /*height: 100%;overflow-y: auto;*/
    /*    overflow: auto;*/

}
.nav ul {
    max-width: 1240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8em;
    background:  #000 !important;    
    /*font-weight: 300;*/
}

.nav li span {
    display: block;
}

.nav a {
    display: block;
    color: #FFF;
    text-decoration: none;
    /*transition: color .5s, background .5s, height .5s, padding-left .2s;*/
}

.nav i{
    /* Make the font smoother for Chrome */
    transform: translate3d(0, 0, 0);
}

.nav li{
    /*background: linear-gradient(to right, white 1%, #aaa 100%) !important;*/
    margin-bottom: 2px;
    font-weight: 500;
    width: 100%;   
    background: linear-gradient(
        #666 100% ,#fff 1%, rgba(100,100,100,1) 99%); 
    color: white;
}
.nav li.active_true{
    opacity: 0.5;
}
.nav i.active_true{
    background: #4c95cd;
    width: 35px;
    height: 30px;
}
.nav i.active_false{
    background: #4c95cd;
    /*background: rgba(217,28,41,0.5);*/
    width: 30px;
    height: 25px;
}

@media (min-width: 50em) {

    /* Transforms the list into a horizontal navigation */
    .nav li {
        text-align: center;
        /*transition: border .5s;*/
    }

    .nav a {
        display: block;
        width: auto;
    }


    /* Placing the icon */

    .icon {
        /*padding-top: 1.4em;*/
    }

    .icon + span {
        /*margin-top: 1.8em;*/
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .nav a {
        height: 5em;
        -webkit-transition: all .3s; /* Chrome/Safari */  
        -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */  
        transition: all .3s; /* syntaxe officielle */ 
        margin: 1px 0; /* espace les liens d'1 px */  
    }

    /* Positioning the icons and preparing for the animation*/
    .nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1em !important;
        box-shadow: 0 0 0 0.8em transparent;
        background: rgba(255,255,255,0.2);
        transform: translate3d(0, 0, 0);
        /*transition: box-shadow .6s ease-in-out;*/
    }   

    .nav ul li a:hover .nav ul li a{
        background: red !important;
        transition: box-shadow .2s ease-in-out;
        color: red;
        border-radius: 20%;
    }  
    .nav ul li a:hover{           
        /*transform: translate3d(0, 0, 0);*/
        /*background: #ccffcc;*/
        background:white;
        color: #333;
        transition: box-shadow .6s ease-in-out;
    }   
}


/**Styles attribuer indirectement à partir du code des ManagedBean*/

.subAllMenu_actif{
    width: 15% !important;
    /*position: absolute;*/    
    background: #045491;
    transition: color 2s, background 2s, height 2s, padding-left 2s;
}
.subAllMenu_hide, .Scontent{
    width: 2% !important;
    /*position: absolute;*/    
    background: #045491;
    transition: color 2s, background 2s, height 2s, padding-left 2s;
}
.subAllMenu_hide .Scontent{ 
    display: none;
}

.subAllMenu_actif .Scontent{ 
    display: block;
    width: 99% !important;
}

.subAllMenu_actif a{
    display: block;
    width: 95% !important;
    margin: auto;
    /*background: aliceblue;*/
    color: whitesmoke;
    border-top: 1px solid #3c78ba;
    margin-top: 1px;
    height: 30px;
}
.subAllMenu_actif a:hover{
    display: inline-block;
    margin: 0 auto;
    padding-left: 0.5em;
    border-radius: 5%;
    font-size: 1em !important;
    box-shadow: 0 0 0 0.8em transparent;
    background: rgba(255,255,255,0.2);
    transform: translate3d(0, 0, 0);
    transition: box-shadow .6s ease-in-out;
}

/* Pour chrome */
.nav::-webkit-scrollbar{
    width: 5px;
    background: white;
}
.nav::-webkit-scrollbar-track{
    border-radius: 10px;
    background: gray;
}
.nav::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: gray;
}

.ui-accordion .ui-accordion-header{
    width: 100%;
    height: 45px;
    background: #666!important;
    letter-spacing: 0px !important;
}

.ui-accordion .ui-accordion-header[aria-expanded="true"]{
    background: #dedede !important
}

.ui-accordion .ui-accordion-header[aria-expanded="true"] a{
    color: #35afe3 !important;
}

.ui-accordion .ui-accordion-header .ui-icon{
    background: white !important;
    /*background-image: url(../../resources/icones/ic_arrow_drop_right_white_18dp.png)!important;*/
}

.ui-accordion .ui-accordion-header a{
    padding: 0.75em 0.5em 0.5em 1.5em !important;
    color: white!important;
    font-size: 1.2em !important;
    font-weight: 200 !important;
}

.ui-accordion .ui-accordion-content{
    width: 100% !important;
    padding: 0 !important;
    overflow-y: hidden;
}

.ui-accordion .ui-accordion-content > .ui-menu{
    width: 100% !important;
    padding: 0 !important;
    overflow-y: hidden;
    border:none;
}

.ui-accordion .ui-accordion-content > .ui-menu ul{
    width: 100% !important;
    background: white !important;
}

.ui-accordion .ui-accordion-content > .ui-menu ul li{
    width: 100% !important;
    background: white !important;
    color: black;
}

.ui-accordion .ui-accordion-content > .ui-menu .ui-widget-header{
    padding-top: 10px !important;
    font-size: 1.2em;
}

.ui-accordion .ui-accordion-content > .ui-menu .ui-menuitem{
    background: #CCCCCC;
    padding: 0 !important;
    height: 40px;
}
.ui-accordion .ui-accordion-content > .ui-menu .ui-menuitem > a{
    width: 100%;
    height: 50%;
    padding: 10px 5px 5px 25px !important;
}
.ui-accordion .ui-accordion-content > .ui-menu .ui-menuitem > a:hover{
    background: #35afe3 !important;
    opacity: 0.8;
}
.ui-accordion .ui-accordion-content > .ui-menu .ui-menuitem .active{
    background: #35afe3 !important;
    opacity: 0.8;
    color: white;
}

.accordion{
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background: white !important;
}

.accordion .accordion-tab{
    margin: 0 0 5px 0;
}


.accordion .accordion-tab[aria-expanded="true"] h3{
    background: #dedede;
    color: #35afe3;
}

.accordion .accordion-tab h3{
    background: #666;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 200;
    margin: 0;
    position: relative;
}

.accordion .accordion-tab h3:hover{
    opacity: 0.8;
}

.accordion .accordion-tab h3 > .title{
    padding-left: 30px;
}


.accordion .accordion-tab h3::after{
    content: "";
    padding-left: 5px;
    position: absolute;
    display: inline-block;
    right: 10px;
    top : 10px;
}

.accordion .accordion-tab[aria-expanded="false"] h3::after{
    content: url("../../resources/icones/ic_arrow_drop_down_white_18dp.png");
}

.accordion .accordion-tab[aria-expanded="true"] h3::after{
    content: url("../../resources/icones/ic_arrow_drop_up_blue_style_18dp.png");
}

.accordion .accordion-tab .menu{
    background: white;
    color: black;
}

.accordion .accordion-tab .menu .sub-menu h4{
    color: black;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.accordion .accordion-tab .menu .sub-menu ul{
    list-style-type: none;
    background: white !important;
}

.accordion .accordion-tab .menu .sub-menu ul li{
    background: white;
    color: black;
    padding: 10px 10px 10px 25px;
    /*border: 0.05px solid #CCCCCC;*/
    text-align: left;
    cursor: pointer;
    margin: 0!important;
}

.accordion .accordion-tab .menu .sub-menu ul li:hover {
    background: #0066ff !important;
    /*opacity: 0.8;*/
    color: white;
}

.accordion .accordion-tab .menu .sub-menu ul .active{
    background: #35afe3 !important;
    color: white;
}

.accordion .accordion-tab .menu .sub-menu ul li .link{
    height: inherit !important;
    color: black !important;
    background: transparent !important;
}

.accordion .accordion-tab h3::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 5px;
    top : 10px;
}

.accordion #base[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_store_white_18dp.png");
}

.accordion #base[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_store_blue_style_18dp.png");
}

.accordion #com[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_shopping_cart_white_18dp.png");
}

.accordion #com[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_shopping_cart_blue_style_18dp.png");
}

.accordion #compta[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_attach_money_white_18dp.png");
}

.accordion #compta[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_attach_money_blue_style_18dp.png");
}

.accordion #prod[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_car_transport_white_18dp.png");
}

.accordion #prod[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_car_transport_blue_style_18dp.png");
}

.accordion #rh[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_group_add_white_18dp.png");
}

.accordion #rh[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_group_add_blue_style_18dp.png");
}

.accordion #mut[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_person_white_18dp.png");
}

.accordion #mut[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_person_blue_style_18dp.png");
}

.accordion #crm[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_question_answer_white_18dp.png");
}

.accordion #crm[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_question_answer_blue_style_18dp.png");
}

.accordion #proj[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_event_white_18dp.png");
}

.accordion #proj[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_event_blue_style_18dp.png");
}

.accordion #param[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_settings_white_18dp.png");
}

.accordion #param[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_settings_blue_style_18dp.png");
}

.accordion #stat[aria-expanded="false"] h3::before {
    content: url("../../resources/icones/ic_equalizer_white_18dp.png");
}

.accordion #stat[aria-expanded="true"] h3::before {
    content: url("../../resources/icones/ic_equalizer_blue_style_18dp.png");
}
