/*Fichier pour le style des page d'accueil des modules. Il présente les sous menu (yvs_accueil.xhtml)*/
/****Présentation des menus***/
.blocMen{
    width: 95% !important;
    margin: auto;
    /*position: absolute;
    //background: #045491 !important; 
    //border:  solid 1px #045491;*/
    height: 100%;
    transition: color 1s, background 1s, height 1s, padding-left 1s;
    overflow-y: auto;
}
.blocMen a{
    display: block;
    width: 98%;
    border-bottom: 1px solid #99ccff;
    text-decoration: none;
    transition: color 1s, background 1s, height 1s, padding-left 1s;
    font-size: 1em;
    letter-spacing: 1px;
    background: aliceblue;
    height: 1.4em;
    margin-bottom: 1px;
}
.blocMen div{
    float: left;    
}

.blocMen a:hover{
    padding-left: 0.3em;
    font-size: 1.1em !important;
    box-shadow: 0 0 0 1em transparent;
    background: rgba(255,255,255,0.2);
    transform: translate3d(0, 0, 0);
    /*//transition: box-shadow .9s ease-in-out;*/
}

.blocMen a:before {
    content: '\25ba';
    padding-left: 0.5em;		
}



.bloc_smenu {
    background: #aaa;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 1px;
    margin: 10px;       
    display: block;
}
.bloc_smenu h4{
    background: white;
    color: brown;
    font-weight: bold;
    margin-left: -10px;
    padding-left: 5px;
}
