<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="">
  <persistence-unit name="LYMYTZ-ERP-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>lymytz_erp</jta-data-source>
    <class>yvs.entity.base.YvsBaseArticleCategorieComptable</class>
    <class>yvs.entity.base.YvsBaseArticleCategorieComptableTaxe</class>
    <class>yvs.entity.base.YvsBaseArticleDepot</class>
    <class>yvs.entity.base.YvsBaseArticleEquivalent</class>
    <class>yvs.entity.base.YvsBaseArticleFournisseur</class>
    <class>yvs.entity.base.YvsBaseArticleSubstitution</class>
    <class>yvs.entity.base.YvsBaseCategorieComptable</class>
    <class>yvs.entity.base.YvsBaseCategorieFournisseur</class>
    <class>yvs.entity.base.YvsBaseConditionnement</class>
    <class>yvs.entity.base.YvsBaseDepots</class>
    <class>yvs.entity.base.YvsBaseDocDivers</class>
    <class>yvs.entity.base.YvsBaseElementReference</class>
    <class>yvs.entity.base.YvsBaseEmplacementDepot</class>
    <class>yvs.entity.base.YvsBaseFournisseur</class>
    <class>yvs.entity.base.YvsBaseModelReglement</class>
    <class>yvs.entity.base.YvsBaseModeleReference</class>
    <class>yvs.entity.base.YvsBaseMouvementStock</class>
    <class>yvs.entity.base.YvsBasePieceTresorerie</class>
    <class>yvs.entity.base.YvsBasePlanReglementFournisseur</class>
    <class>yvs.entity.base.YvsBaseTableConversion</class>
    <class>yvs.entity.base.YvsBaseTaxes</class>
    <class>yvs.entity.base.YvsBaseTrancheReglementFournisseur</class>
    <class>yvs.entity.base.YvsBaseUniteMesure</class>
    <class>yvs.entity.commercial.YvsBaseOperationCompteFsseur</class>
    <class>yvs.entity.commercial.YvsComArticle</class>
    <class>yvs.entity.commercial.YvsComCategoriePersonnel</class>
    <class>yvs.entity.commercial.YvsComCommission</class>
    <class>yvs.entity.commercial.YvsComCritereLot</class>
    <class>yvs.entity.commercial.YvsComLiaisonDepot</class>
    <class>yvs.entity.commercial.YvsComParametre</class>
    <class>yvs.entity.commercial.YvsComPersonnel</class>
    <class>yvs.entity.commercial.YvsComPlanCommission</class>
    <class>yvs.entity.commercial.achat.YvsComArticleApprovisionnement</class>
    <class>yvs.entity.commercial.achat.YvsComArticleFourniAchat</class>
    <class>yvs.entity.commercial.achat.YvsComContenuDocAchat</class>
    <class>yvs.entity.commercial.achat.YvsComCoutAdditionel</class>
    <class>yvs.entity.commercial.achat.YvsComDocAchats</class>
    <class>yvs.entity.commercial.achat.YvsComFicheApprovisionnement</class>
    <class>yvs.entity.commercial.achat.YvsComLotReception</class>
    <class>yvs.entity.commercial.achat.YvsComMensualiteFactureAchat</class>
    <class>yvs.entity.commercial.achat.YvsCoutAdditionnel</class>
    <class>yvs.entity.commercial.client.YvsComClient</class>
    <class>yvs.entity.commercial.client.YvsComPlanReglementClient</class>
    <class>yvs.entity.commercial.client.YvsComTrancheReglementClient</class>
    <class>yvs.entity.commercial.creneau.YvsComCreneauHoraireEmploye</class>
    <class>yvs.entity.commercial.creneau.YvsComCreneauHoraireUsers</class>
    <class>yvs.entity.commercial.creneau.YvsComTypeCreneauHoraire</class>
    <class>yvs.entity.commercial.rrr.YvsComGrilleRemise</class>
    <class>yvs.entity.commercial.rrr.YvsComGrilleRistourne</class>
    <class>yvs.entity.commercial.rrr.YvsComPlanRemise</class>
    <class>yvs.entity.commercial.rrr.YvsComPlanRistourne</class>
    <class>yvs.entity.commercial.rrr.YvsComRemise</class>
    <class>yvs.entity.commercial.rrr.YvsComRistourne</class>
    <class>yvs.entity.commercial.stock.YvsComContenuDocStock</class>
    <class>yvs.entity.commercial.stock.YvsComCoutSupDocStock</class>
    <class>yvs.entity.commercial.stock.YvsComDocStocks</class>
    <class>yvs.entity.commercial.vente.YvsComContenuDocVente</class>
    <class>yvs.entity.commercial.vente.YvsComDocVentes</class>
    <class>yvs.entity.commercial.vente.YvsComEnteteDocVente</class>
    <class>yvs.entity.commercial.vente.YvsComMensualiteFactureVente</class>
    <class>yvs.entity.commercial.vente.YvsComRemiseDocVente</class>
    <class>yvs.entity.commercial.vente.YvsComRistourneDocVente</class>
    <class>yvs.entity.communication.YvsAdresseProfessionnel</class>
    <class>yvs.entity.communication.YvsMsgCarnetAdresse</class>
    <class>yvs.entity.communication.YvsMsgConversation</class>
    <class>yvs.entity.communication.YvsMsgDestinataire</class>
    <class>yvs.entity.communication.YvsMsgFiltreMessage</class>
    <class>yvs.entity.communication.YvsMsgGroupeMessage</class>
    <class>yvs.entity.communication.YvsParametreMessagerieProfessionnel</class>
    <class>yvs.entity.compta.YvsComptaAffectationGenAnal</class>
    <class>yvs.entity.compta.YvsComptaDecompositionCeAnal</class>
    <class>yvs.entity.grh.activite.YvsContactsEmps</class>
    <class>yvs.entity.grh.activite.YvsCoutsFormation</class>
    <class>yvs.entity.grh.activite.YvsDemandeEmps</class>
    <class>yvs.entity.grh.activite.YvsGrhCongeEmps</class>
    <class>yvs.entity.grh.activite.YvsGrhDetailGrilleFraiMission</class>
    <class>yvs.entity.grh.activite.YvsGrhFormateur</class>
    <class>yvs.entity.grh.activite.YvsGrhFormation</class>
    <class>yvs.entity.grh.activite.YvsGrhFormationEmps</class>
    <class>yvs.entity.grh.activite.YvsGrhFormationRessource</class>
    <class>yvs.entity.grh.activite.YvsGrhGrilleMission</class>
    <class>yvs.entity.grh.activite.YvsGrhMissionRessource</class>
    <class>yvs.entity.grh.activite.YvsGrhMissions</class>
    <class>yvs.entity.grh.activite.YvsGrhQualificationFormation</class>
    <class>yvs.entity.grh.activite.YvsGrhSanctionEmps</class>
    <class>yvs.entity.grh.activite.YvsGrhTypeCout</class>
    <class>yvs.entity.grh.activite.YvsTitreFormation</class>
    <class>yvs.entity.grh.activite.YvsTypeDemande</class>
    <class>yvs.entity.grh.contrat.YvsGrhContratSuspendu</class>
    <class>yvs.entity.grh.contrat.YvsGrhElementAdditionel</class>
    <class>yvs.entity.grh.contrat.YvsGrhElementsIndemnite</class>
    <class>yvs.entity.grh.contrat.YvsGrhGrilleTauxFinContrat</class>
    <class>yvs.entity.grh.contrat.YvsGrhLibelleDroitFinContrat</class>
    <class>yvs.entity.grh.contrat.YvsGrhModelElementAdditionel</class>
    <class>yvs.entity.grh.contrat.YvsGrhParamContrat</class>
    <class>yvs.entity.grh.contrat.YvsGrhRubriqueIndemnite</class>
    <class>yvs.entity.grh.contrat.YvsGrhTypeElementAdditionel</class>
    <class>yvs.entity.grh.param.YvsCalendrier</class>
    <class>yvs.entity.grh.param.YvsGrhActivitesPoste</class>
    <class>yvs.entity.grh.param.YvsGrhCategoriePreavis</class>
    <class>yvs.entity.grh.param.YvsGrhCategorieProfessionelle</class>
    <class>yvs.entity.grh.param.YvsGrhConventionCollective</class>
    <class>yvs.entity.grh.param.YvsGrhDecisionSanction</class>
    <class>yvs.entity.grh.param.YvsGrhDetailTypeChomage</class>
    <class>yvs.entity.grh.param.YvsGrhDomainesQualifications</class>
    <class>yvs.entity.grh.param.YvsGrhEchelons</class>
    <class>yvs.entity.grh.param.YvsGrhExperiencePoste</class>
    <class>yvs.entity.grh.param.YvsGrhFauteSanction</class>
    <class>yvs.entity.grh.param.YvsGrhGradeEmploye</class>
    <class>yvs.entity.grh.param.YvsGrhIntervalPrimeTache</class>
    <class>yvs.entity.grh.param.YvsGrhIntervalleAnciennete</class>
    <class>yvs.entity.grh.param.YvsGrhMajorationConge</class>
    <class>yvs.entity.grh.param.YvsGrhMissionPoste</class>
    <class>yvs.entity.grh.param.YvsGrhPrimeTache</class>
    <class>yvs.entity.grh.param.YvsGrhQualifications</class>
    <class>yvs.entity.grh.param.YvsGrhSanction</class>
    <class>yvs.entity.grh.param.YvsGrhTypeChomage</class>
    <class>yvs.entity.grh.param.YvsJoursFeries</class>
    <class>yvs.entity.grh.param.YvsJoursOuvres</class>
    <class>yvs.entity.grh.param.YvsParametreGrh</class>
    <class>yvs.entity.grh.param.poste.YvsGrhDepartement</class>
    <class>yvs.entity.grh.param.poste.YvsGrhElementAdditionelPoste</class>
    <class>yvs.entity.grh.param.poste.YvsGrhPosteDeTravail</class>
    <class>yvs.entity.grh.param.poste.YvsGrhPosteEmployes</class>
    <class>yvs.entity.grh.param.poste.YvsGrhQualificationPoste</class>
    <class>yvs.entity.grh.personnel.YvsAdresseEmps</class>
    <class>yvs.entity.grh.personnel.YvsBanques</class>
    <class>yvs.entity.grh.personnel.YvsBulletin</class>
    <class>yvs.entity.grh.personnel.YvsCategorieProEmploye</class>
    <class>yvs.entity.grh.personnel.YvsCompteBancaire</class>
    <class>yvs.entity.grh.personnel.YvsDiplomeEmploye</class>
    <class>yvs.entity.grh.personnel.YvsDiplomes</class>
    <class>yvs.entity.grh.personnel.YvsEchelonEmploye</class>
    <class>yvs.entity.grh.personnel.YvsEmailsEmps</class>
    <class>yvs.entity.grh.personnel.YvsGrhAssurance</class>
    <class>yvs.entity.grh.personnel.YvsGrhAssureur</class>
    <class>yvs.entity.grh.personnel.YvsGrhBilanAssurance</class>
    <class>yvs.entity.grh.personnel.YvsGrhBilanCouverture</class>
    <class>yvs.entity.grh.personnel.YvsGrhChomageEmps</class>
    <class>yvs.entity.grh.personnel.YvsGrhContratEmps</class>
    <class>yvs.entity.grh.personnel.YvsGrhConventionEmploye</class>
    <class>yvs.entity.grh.personnel.YvsGrhCouverturePersonneCharge</class>
    <class>yvs.entity.grh.personnel.YvsGrhDocumentEmps</class>
    <class>yvs.entity.grh.personnel.YvsGrhEmployes</class>
    <class>yvs.entity.grh.personnel.YvsGrhPersonneEnCharge</class>
    <class>yvs.entity.grh.personnel.YvsGrhPlanningEmploye</class>
    <class>yvs.entity.grh.personnel.YvsGrhProfilEmps</class>
    <class>yvs.entity.grh.personnel.YvsGrhQualificationEmploye</class>
    <class>yvs.entity.grh.personnel.YvsGrhTypeAssurance</class>
    <class>yvs.entity.grh.personnel.YvsLangueEmps</class>
    <class>yvs.entity.grh.personnel.YvsLangues</class>
    <class>yvs.entity.grh.personnel.YvsPermisDeCoduire</class>
    <class>yvs.entity.grh.personnel.YvsSpecialiteDiplomes</class>
    <class>yvs.entity.grh.personnel.YvsTelephoneEmps</class>
    <class>yvs.entity.grh.personnel.YvsTypeContrat</class>
    <class>yvs.entity.grh.presence.YvsGrhDestDmdeCommission</class>
    <class>yvs.entity.grh.presence.YvsGrhEquipeEmploye</class>
    <class>yvs.entity.grh.presence.YvsGrhPointage</class>
    <class>yvs.entity.grh.presence.YvsGrhPresence</class>
    <class>yvs.entity.grh.presence.YvsGrhTrancheHoraire</class>
    <class>yvs.entity.grh.presence.YvsGrhTypeValidation</class>
    <class>yvs.entity.grh.recrutments.YvsGrhCandidats</class>
    <class>yvs.entity.grh.recrutments.YvsGrhDiplomesCandidat</class>
    <class>yvs.entity.grh.recrutments.YvsGrhEntretienCandidat</class>
    <class>yvs.entity.grh.recrutments.YvsGrhFormationCandidats</class>
    <class>yvs.entity.grh.recrutments.YvsGrhLanguesCandidats</class>
    <class>yvs.entity.grh.recrutments.YvsGrhParamQuestionnaire</class>
    <class>yvs.entity.grh.recrutments.YvsGrhQualificationCandidat</class>
    <class>yvs.entity.grh.recrutments.YvsGrhReponseEntretien</class>
    <class>yvs.entity.grh.recrutments.YvsGrhRubriquesQuestionnaire</class>
    <class>yvs.entity.grh.salaire.YvsGrhBulletins</class>
    <class>yvs.entity.grh.salaire.YvsGrhCategorieElement</class>
    <class>yvs.entity.grh.salaire.YvsGrhCentreDepense</class>
    <class>yvs.entity.grh.salaire.YvsGrhDepenseNote</class>
    <class>yvs.entity.grh.salaire.YvsGrhDetailBulletin</class>
    <class>yvs.entity.grh.salaire.YvsGrhDetailPrelevementEmps</class>
    <class>yvs.entity.grh.salaire.YvsGrhElementSalaire</class>
    <class>yvs.entity.grh.salaire.YvsGrhElementStructure</class>
    <class>yvs.entity.grh.salaire.YvsGrhNotesFrais</class>
    <class>yvs.entity.grh.salaire.YvsGrhOrdreCalculSalaire</class>
    <class>yvs.entity.grh.salaire.YvsGrhPlanifSalaireContrat</class>
    <class>yvs.entity.grh.salaire.YvsGrhRubriqueBulletin</class>
    <class>yvs.entity.grh.salaire.YvsGrhStructureSalaire</class>
    <class>yvs.entity.grh.salaire.YvsGrhTypeDepense</class>
    <class>yvs.entity.grh.statistique.YvsGrhDocStatistiques</class>
    <class>yvs.entity.grh.statistique.YvsGrhElementStatistique</class>
    <class>yvs.entity.grh.statistique.YvsStatGRhElementDipe</class>
    <class>yvs.entity.grh.statistique.YvsStatGrhEtat</class>
    <class>yvs.entity.grh.statistique.YvsStatGrhGrilleDipe</class>
    <class>yvs.entity.grh.statistique.YvsStatGrhTauxContribution</class>
    <class>yvs.entity.grh.taches.YvsGrhMontantTache</class>
    <class>yvs.entity.grh.taches.YvsGrhRealisationTache</class>
    <class>yvs.entity.grh.taches.YvsGrhRegleTache</class>
    <class>yvs.entity.grh.taches.YvsGrhTacheEmps</class>
    <class>yvs.entity.grh.taches.YvsGrhTaches</class>
    <class>yvs.entity.mutuelle.YvsMutCaisse</class>
    <class>yvs.entity.mutuelle.YvsMutEmploye</class>
    <class>yvs.entity.mutuelle.YvsMutMutuelle</class>
    <class>yvs.entity.mutuelle.YvsMutParametre</class>
    <class>yvs.entity.mutuelle.YvsMutPeriodeExercice</class>
    <class>yvs.entity.mutuelle.base.YvsMutCompte</class>
    <class>yvs.entity.mutuelle.base.YvsMutGrilleTauxTypeCredit</class>
    <class>yvs.entity.mutuelle.base.YvsMutMutualiste</class>
    <class>yvs.entity.mutuelle.base.YvsMutPoste</class>
    <class>yvs.entity.mutuelle.base.YvsMutPosteEmploye</class>
    <class>yvs.entity.mutuelle.base.YvsMutPrimePoste</class>
    <class>yvs.entity.mutuelle.base.YvsMutTiers</class>
    <class>yvs.entity.mutuelle.base.YvsMutTypeCompte</class>
    <class>yvs.entity.mutuelle.base.YvsMutTypePrime</class>
    <class>yvs.entity.mutuelle.credit.YvsMutAvaliseCredit</class>
    <class>yvs.entity.mutuelle.credit.YvsMutConditionCredit</class>
    <class>yvs.entity.mutuelle.credit.YvsMutCredit</class>
    <class>yvs.entity.mutuelle.credit.YvsMutTypeCredit</class>
    <class>yvs.entity.mutuelle.echellonage.YvsMutEchellonage</class>
    <class>yvs.entity.mutuelle.echellonage.YvsMutMensualite</class>
    <class>yvs.entity.mutuelle.echellonage.YvsMutReglementMensualite</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutContribution</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutContributionEvenement</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutCoutEvenement</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutEvenement</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutParticipantEvenement</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutTypeContribution</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutTypeEvenement</class>
    <class>yvs.entity.mutuelle.operation.YvsMutOperationCaisse</class>
    <class>yvs.entity.mutuelle.operation.YvsMutOperationCompte</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutAvanceSalaire</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutConditionAvance</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutInteret</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutPaiementSalaire</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutPeriodeSalaire</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutReglementAvance</class>
    <class>yvs.entity.mutuelle.salaire.YvsMutReglementPrime</class>
    <class>yvs.entity.param.YvsAgences</class>
    <class>yvs.entity.param.YvsBaseCentreValorisation</class>
    <class>yvs.entity.param.YvsBaseTypeEtat</class>
    <class>yvs.entity.param.YvsCrenauxHoraire</class>
    <class>yvs.entity.param.YvsDepotCrenaux</class>
    <class>yvs.entity.param.YvsDictionnaire</class>
    <class>yvs.entity.param.YvsGrhPlanPrelevement</class>
    <class>yvs.entity.param.YvsGrhSecteurs</class>
    <class>yvs.entity.param.YvsLiaisonDepots</class>
    <class>yvs.entity.param.YvsModePaiement</class>
    <class>yvs.entity.param.YvsNatureCompte</class>
    <class>yvs.entity.param.YvsNiveauDepot</class>
    <class>yvs.entity.param.YvsRadicalCompte</class>
    <class>yvs.entity.param.YvsRayonSecteur</class>
    <class>yvs.entity.param.YvsSecteurDepot</class>
    <class>yvs.entity.param.YvsSocietes</class>
    <class>yvs.entity.param.YvsTraiteMdr</class>
    <class>yvs.entity.param.workflow.YvsAbonnementUsersTaches</class>
    <class>yvs.entity.param.workflow.YvsConnection</class>
    <class>yvs.entity.param.workflow.YvsNotificationUsers</class>
    <class>yvs.entity.param.workflow.YvsNotifications</class>
    <class>yvs.entity.param.workflow.YvsWorkflowAutorisationValidDoc</class>
    <class>yvs.entity.param.workflow.YvsWorkflowEtapeValidation</class>
    <class>yvs.entity.param.workflow.YvsWorkflowModelDoc</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidConge</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidFormation</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidMission</class>
    <class>yvs.entity.production.base.YvsBaseIndicateurReussite</class>
    <class>yvs.entity.production.base.YvsBaseTypeCoefficient</class>
    <class>yvs.entity.production.base.YvsProdArticleProduction</class>
    <class>yvs.entity.production.base.YvsProdCapacitePosteCharge</class>
    <class>yvs.entity.production.base.YvsProdCentreCharge</class>
    <class>yvs.entity.production.base.YvsProdCentrePosteCharge</class>
    <class>yvs.entity.production.base.YvsProdCoefficientVariationPic</class>
    <class>yvs.entity.production.base.YvsProdComposantMrp</class>
    <class>yvs.entity.production.base.YvsProdComposantNomenclature</class>
    <class>yvs.entity.production.base.YvsProdCreneauEquipeProduction</class>
    <class>yvs.entity.production.base.YvsProdDocumentTechnique</class>
    <class>yvs.entity.production.base.YvsProdEtatRessource</class>
    <class>yvs.entity.production.base.YvsProdGammeArticle</class>
    <class>yvs.entity.production.base.YvsProdNomenclature</class>
    <class>yvs.entity.production.base.YvsProdPosteCharge</class>
    <class>yvs.entity.production.base.YvsProdSiteProduction</class>
    <class>yvs.entity.production.equipe.YvsProdEmploye</class>
    <class>yvs.entity.production.equipe.YvsProdEmployeEquipe</class>
    <class>yvs.entity.production.equipe.YvsProdEquipeProduction</class>
    <class>yvs.entity.production.pilotage.YvsProdHeaderOf</class>
    <class>yvs.entity.production.pilotage.YvsProdOrdreFabrication</class>
    <class>yvs.entity.production.planification.YvsProdDetailPdc</class>
    <class>yvs.entity.production.planification.YvsProdDetailPdp</class>
    <class>yvs.entity.production.planification.YvsProdDetailPic</class>
    <class>yvs.entity.production.planification.YvsProdPeriodePlan</class>
    <class>yvs.entity.production.planification.YvsProdPlanification</class>
    <class>yvs.entity.production.planification.YvsProdPlanificationMrp</class>
    <class>yvs.entity.produits.YvsArticleCompte</class>
    <class>yvs.entity.produits.YvsArticlesRecompense</class>
    <class>yvs.entity.produits.YvsPlanDeRecompense</class>
    <class>yvs.entity.produits.group.YvsBaseFamilleArticle</class>
    <class>yvs.entity.produits.group.YvsBaseGroupesArticle</class>
    <class>yvs.entity.produits.group.YvsBorneTranches</class>
    <class>yvs.entity.produits.group.YvsCategorieArticle</class>
    <class>yvs.entity.produits.group.YvsGroupeArtCatTaxes</class>
    <class>yvs.entity.produits.group.YvsGroupeArticleCompte</class>
    <class>yvs.entity.produits.group.YvsGroupeProduitDepot</class>
    <class>yvs.entity.produits.group.YvsPlanTarifGroupe</class>
    <class>yvs.entity.produits.group.YvsTranches</class>
    <class>yvs.entity.tiers.YvsContactsTiers</class>
    <class>yvs.entity.users.YvsAutorisationModule</class>
    <class>yvs.entity.users.YvsAutorisationPageModule</class>
    <class>yvs.entity.users.YvsAutorisationRessourcesPage</class>
    <class>yvs.entity.users.YvsModule</class>
    <class>yvs.entity.users.YvsMsgDiffusionContact</class>
    <class>yvs.entity.users.YvsMsgGroupeDiffusion</class>
    <class>yvs.entity.users.YvsNiveauAcces</class>
    <class>yvs.entity.users.YvsNiveauUsers</class>
    <class>yvs.entity.users.YvsPageModule</class>
    <class>yvs.entity.users.YvsRessourcesPage</class>
    <class>yvs.entity.users.YvsUsers</class>
    <class>yvs.entity.users.YvsUsersAgence</class>
    <class>yvs.entity.grh.contrat.YvsGrhComposantsRetenue</class>
    <class>yvs.entity.grh.taches.YvsGrhIntervalMajoration</class>
    <class>yvs.entity.prod.YvsBaseArticlesTemplate</class>
    <class>yvs.entity.tiers.YvsBaseTiers</class>
    <class>yvs.entity.compta.YvsBasePlanComptable</class>
    <class>yvs.entity.produits.YvsBaseArticles</class>
    <class>yvs.entity.tiers.YvsBaseTiersTelephone</class>
    <class>yvs.entity.base.YvsBaseArticleEmplacement</class>
    <class>yvs.entity.base.YvsBaseDepotOperation</class>
    <class>yvs.entity.base.YvsBasePointVente</class>
    <class>yvs.entity.base.YvsBasePointVenteDepot</class>
    <class>yvs.entity.commercial.YvsComGrilleCommission</class>
    <class>yvs.entity.commercial.YvsComParametreAchat</class>
    <class>yvs.entity.commercial.YvsComParametreStock</class>
    <class>yvs.entity.commercial.YvsComParametreVente</class>
    <class>yvs.entity.compta.YvsComptaJournaux</class>
    <class>yvs.entity.tiers.YvsBaseTiersTemplate</class>
    <class>yvs.entity.commercial.client.YvsBaseCategorieClient</class>
    <class>yvs.entity.grh.salaire.YvsGrhHeaderBulletin</class>
    <class>yvs.entity.grh.contrat.YvsGrhContratRestreint</class>
    <class>yvs.entity.grh.activite.YvsGrhFraisMission</class>
    <class>yvs.entity.base.YvsBaseExercice</class>
    <class>yvs.entity.grh.salaire.YvsGrhParametresBulletin</class>
    <class>yvs.entity.commercial.client.YvsBasePlanTarifaire</class>
    <class>yvs.entity.commercial.client.YvsComCategorieTarifaire</class>
    <class>yvs.entity.commercial.client.YvsComPlanReglementCategorie</class>
    <class>yvs.entity.base.YvsBaseModeReglement</class>
    <class>yvs.entity.base.YvsBaseTrancheReglement</class>
    <class>yvs.entity.base.YvsComptaCaisseDocDivers</class>
    <class>yvs.entity.base.YvsComptaCaissePieceDivers</class>
    <class>yvs.entity.compta.YvsBaseCaisse</class>
    <class>yvs.entity.compta.YvsBaseNatureCompte</class>
    <class>yvs.entity.compta.YvsBaseRadicalCompte</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceVente</class>
    <class>yvs.entity.compta.YvsComptaMouvementCaisse</class>
    <class>yvs.entity.compta.YvsComptaPieceCaisseMission</class>
    <class>yvs.entity.compta.YvsComptaPlanAbonnement</class>
    <class>yvs.entity.grh.activite.YvsGrhMissionClasse</class>
    <class>yvs.entity.grh.personnel.YvsGrhDetailsChomageTechnique</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidPcMission</class>
    <class>yvs.entity.compta.YvsComptaAbonementDocDivers</class>
    <class>yvs.entity.base.YvsComptaCaisseMensualiteDocDivers</class>
    <class>yvs.entity.base.YvsBaseArticlePoint</class>
    <class>yvs.entity.commercial.client.YvsBasePlanTarifaireTranche</class>
    <class>yvs.entity.commercial.vente.YvsComCoutSupDocVente</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidDocCaisse</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceVirement</class>
    <class>yvs.entity.commercial.creneau.YvsComCreneauDepot</class>
    <class>yvs.entity.commercial.creneau.YvsComCreneauPoint</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceAchat</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidFactureAchat</class>
    <class>yvs.entity.grh.param.YvsGrhSerieCongeTechnique</class>
    <class>yvs.entity.grh.param.YvsGrhParamsTauxChomageTech</class>
    <class>yvs.entity.compta.YvsComptaContentJournal</class>
    <class>yvs.entity.compta.YvsComptaContentModeleSaisi</class>
    <class>yvs.entity.compta.YvsComptaModeleSaisie</class>
    <class>yvs.entity.compta.YvsComptaPiecesComptable</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidFactureVente</class>
    <class>yvs.entity.compta.YvsBaseLiaisonCaisse</class>
    <class>yvs.entity.compta.YvsComptaBielletage</class>
    <class>yvs.entity.grh.personnel.YvsGrhProfil</class>
    <class>yvs.entity.base.YvsBaseCodeAcces</class>
    <class>yvs.entity.base.YvsBaseConditionnementDepot</class>
    <class>yvs.entity.base.YvsBaseConditionnementFournisseur</class>
    <class>yvs.entity.base.YvsBaseConditionnementPoint</class>
    <class>yvs.entity.commercial.YvsComComerciale</class>
    <class>yvs.entity.commercial.YvsComQualite</class>
    <class>yvs.entity.commercial.achat.YvsComCoutSupDocAchat</class>
    <class>yvs.entity.commercial.achat.YvsComTaxeContenuAchat</class>
    <class>yvs.entity.commercial.commission.YvsComCibleFacteurTaux</class>
    <class>yvs.entity.commercial.commission.YvsComFacteurTaux</class>
    <class>yvs.entity.commercial.commission.YvsComPeriodeValiditeCommision</class>
    <class>yvs.entity.commercial.commission.YvsComPlanCommission</class>
    <class>yvs.entity.commercial.commission.YvsComTrancheTaux</class>
    <class>yvs.entity.commercial.commission.YvsComTypeGrille</class>
    <class>yvs.entity.commercial.objectifs.YvsComCibleObjectif</class>
    <class>yvs.entity.commercial.objectifs.YvsComModeleObjectif</class>
    <class>yvs.entity.commercial.objectifs.YvsComObjectifsComercial</class>
    <class>yvs.entity.commercial.objectifs.YvsComPeriodeObjectif</class>
    <class>yvs.entity.commercial.ration.YvsComDocRation</class>
    <class>yvs.entity.commercial.ration.YvsComParamRation</class>
    <class>yvs.entity.commercial.ration.YvsComPeriodeRation</class>
    <class>yvs.entity.commercial.ration.YvsComRation</class>
    <class>yvs.entity.commercial.stock.YvsComReconditionnement</class>
    <class>yvs.entity.commercial.stock.YvsComReservationStock</class>
    <class>yvs.entity.commercial.stock.YvsComTransformation</class>
    <class>yvs.entity.commercial.vente.YvsComCommercialVente</class>
    <class>yvs.entity.commercial.vente.YvsComTaxeContenuVente</class>
    <class>yvs.entity.compta.YvsBaseComptesCaisse</class>
    <class>yvs.entity.compta.YvsComptaAcompteClient</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceCompensation</class>
    <class>yvs.entity.compta.YvsComptaCreditClient</class>
    <class>yvs.entity.compta.YvsComptaNotifReglementVente</class>
    <class>yvs.entity.compta.YvsComptaParametre</class>
    <class>yvs.entity.compta.YvsComptaPhasePiece</class>
    <class>yvs.entity.compta.YvsComptaPhaseReglement</class>
    <class>yvs.entity.compta.YvsComptaReglementCreditClient</class>
    <class>yvs.entity.compta.achat.YvsComptaAcompteFournisseur</class>
    <class>yvs.entity.compta.achat.YvsComptaCreditFournisseur</class>
    <class>yvs.entity.compta.achat.YvsComptaNotifReglementAchat</class>
    <class>yvs.entity.compta.achat.YvsComptaReglementCreditFournisseur</class>
    <class>yvs.entity.compta.divers.YvsComptaCaisseDocDivers</class>
    <class>yvs.entity.compta.divers.YvsComptaCaisseMensualiteDocDivers</class>
    <class>yvs.entity.compta.divers.YvsComptaCaissePieceDivers</class>
    <class>yvs.entity.compta.divers.YvsComptaCoutSupDocDivers</class>
    <class>yvs.entity.compta.divers.YvsComptaTaxeDocDivers</class>
    <class>yvs.entity.ext.YvsExtArticle</class>
    <class>yvs.entity.ext.YvsExtClients</class>
    <class>yvs.entity.ext.YvsExtEmploye</class>
    <class>yvs.entity.ext.YvsExtFournisseur</class>
    <class>yvs.entity.ext.YvsExtTiers</class>
    <class>yvs.entity.grh.activite.YvsGrhObjetsMission</class>
    <class>yvs.entity.grh.param.YvsGrhHistoriqueStatutEmploye</class>
    <class>yvs.entity.grh.param.YvsGrhStatutEmploye</class>
    <class>yvs.entity.grh.param.poste.YvsGrhModelContrat</class>
    <class>yvs.entity.grh.param.poste.YvsGrhModelPrimePoste</class>
    <class>yvs.entity.grh.param.poste.YvsGrhPreavis</class>
    <class>yvs.entity.grh.statistique.YvsStatGrhGroupeElement</class>
    <class>yvs.entity.mutuelle.YvsMutDefaultUseFor</class>
    <class>yvs.entity.mutuelle.credit.YvsMutFraisTypeCredit</class>
    <class>yvs.entity.mutuelle.credit.YvsMutReglementCredit</class>
    <class>yvs.entity.mutuelle.credit.YvsMutVoteValidationCredit</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutActivite</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutActiviteType</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutFinancementActivite</class>
    <class>yvs.entity.mutuelle.evenement.YvsMutTauxContribution</class>
    <class>yvs.entity.mutuelle.operation.YvsMutMouvementCaisse</class>
    <class>yvs.entity.param.formulaire.YvsParamChampFormulaire</class>
    <class>yvs.entity.param.formulaire.YvsParamFormulaire</class>
    <class>yvs.entity.param.formulaire.YvsParamModelFormulaire</class>
    <class>yvs.entity.param.formulaire.YvsParamProprieteChamp</class>
    <class>yvs.entity.param.formulaire.YvsParamUserFormulaire</class>
    <class>yvs.entity.param.workflow.YvsConnectionHistorique</class>
    <class>yvs.entity.param.workflow.YvsConnectionPages</class>
    <class>yvs.entity.param.workflow.YvsConnectionPagesHistorique</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidDivers</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidDocStock</class>
    <class>yvs.entity.stat.export.YvsStatExportColonne</class>
    <class>yvs.entity.stat.export.YvsStatExportEtat</class>
    <class>yvs.entity.users.YvsBaseUsersAcces</class>
    <class>yvs.entity.users.YvsUsersMemo</class>
    <class>yvs.entity.compta.analytique.YvsComptaCentreAnalytique</class>
    <class>yvs.entity.compta.analytique.YvsComptaPlanAnalytique</class>
    <class>yvs.entity.compta.analytique.YvsComptaRepartitionAnalytique</class>
    <class>yvs.entity.compta.divers.YvsComptaBonProvisoire</class>
    <class>yvs.entity.compta.divers.YvsComptaJustificatifBon</class>
    <class>yvs.entity.production.base.YvsProdPosteChargeEmploye</class>
    <class>yvs.entity.production.base.YvsProdPosteChargeMateriel</class>
    <class>yvs.entity.production.base.YvsProdPosteChargeTiers</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceMission</class>
    <class>yvs.entity.compta.YvsComptaPhasePieceAchat</class>
    <class>yvs.entity.compta.achat.YvsComptaPhaseAcompteAchat</class>
    <class>yvs.entity.compta.vente.YvsComptaPhaseAcompteVente</class>
    <class>yvs.entity.production.base.YvsProdOperationsGamme</class>
    <class>yvs.entity.production.pilotage.YvsProdOperationsOF</class>
    <class>yvs.entity.production.base.YvsProdIndicateurOp</class>
    <class>yvs.entity.production.base.YvsProdPosteOperation</class>
    <class>yvs.entity.production.pilotage.YvsProdComposantOp</class>
    <class>yvs.entity.production.pilotage.YvsProdFluxComposant</class>
    <class>yvs.entity.production.pilotage.YvsProdComposantOF</class>
    <class>yvs.entity.compta.YvsComptaAffecAnalDepartement</class>
    <class>yvs.entity.compta.YvsComptaAffecAnalEmp</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentAnalytique</class>
    <class>yvs.entity.base.YvsBaseArticleAnalytique</class>
    <class>yvs.entity.base.YvsBaseCaisseUser</class>
    <class>yvs.entity.base.YvsBaseClassesStat</class>
    <class>yvs.entity.base.YvsBaseDepotsUser</class>
    <class>yvs.entity.base.YvsBasePointLivraison</class>
    <class>yvs.entity.commercial.YvsComCommercialPoint</class>
    <class>yvs.entity.commercial.commission.YvsComCommissionVente</class>
    <class>yvs.entity.commercial.objectifs.YvsComObjectifsAgence</class>
    <class>yvs.entity.commercial.objectifs.YvsComObjectifsPointVente</class>
    <class>yvs.entity.commercial.rrr.YvsComGrilleRabais</class>
    <class>yvs.entity.commercial.rrr.YvsComRabais</class>
    <class>yvs.entity.commercial.vente.YvsComCompensationEcartEnteteVente</class>
    <class>yvs.entity.commercial.vente.YvsComEcartEnteteVente</class>
    <class>yvs.entity.compta.YvsBaseTypeDocDivers</class>
    <class>yvs.entity.compta.YvsComptaCoutSupPieceVirement</class>
    <class>yvs.entity.compta.YvsComptaJustifBonMission</class>
    <class>yvs.entity.compta.YvsComptaPhasePieceDivers</class>
    <class>yvs.entity.compta.YvsComptaPhasePieceVirement</class>
    <class>yvs.entity.compta.YvsComptaPhaseReglementAutorisation</class>
    <class>yvs.entity.compta.analytique.YvsComptaCentreContenuAchat</class>
    <class>yvs.entity.compta.client.YvsComptaPhaseReglementCreditClient</class>
    <class>yvs.entity.compta.divers.YvsComptaCaissePieceCoutDivers</class>
    <class>yvs.entity.compta.divers.YvsComptaCentreDocDivers</class>
    <class>yvs.entity.compta.fournisseur.YvsComptaPhaseReglementCreditFournisseur</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalAbonnementDivers</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalAcompteClient</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalAcompteFournisseur</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalBulletin</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalCreditClient</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalCreditFournisseur</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalDocDivers</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapeAcompteAchat</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapeAcompteVente</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapePieceAchat</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapePieceDivers</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapePieceVente</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapePieceVirement</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapeReglementCreditClient</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEtapeReglementCreditFournisseur</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalFactureAchat</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalFactureVente</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalPieceAchat</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalPieceDivers</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalPieceVente</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalPieceVirement</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalReglementCreditClient</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalReglementCreditFournisseur</class>
    <class>yvs.entity.compta.salaire.YvsComptaCaissePieceSalaire</class>
    <class>yvs.entity.compta.salaire.YvsComptaNotifReglementBulletin</class>
    <class>yvs.entity.compta.salaire.YvsComptaPhasePieceSalaire</class>
    <class>yvs.entity.compta.vente.YvsComptaCaissePieceEcartVente</class>
    <class>yvs.entity.compta.vente.YvsComptaNotifVersementVente</class>
    <class>yvs.entity.mutuelle.operation.YvsMutAbonnementDepense</class>
    <class>yvs.entity.param.YvsBaseGroupeSociete</class>
    <class>yvs.entity.param.YvsBaseTarifPointLivraison</class>
    <class>yvs.entity.param.workflow.YvsWarningModelDoc</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidApprovissionnement</class>
    <class>yvs.entity.param.workflow.YvsWorkflowValidBonProvisoire</class>
    <class>yvs.entity.production.YvsProdParametre</class>
    <class>yvs.entity.production.base.YvsBaseArticleSite</class>
    <class>yvs.entity.production.base.YvsProdGammeSite</class>
    <class>yvs.entity.production.base.YvsProdNomenclatureSite</class>
    <class>yvs.entity.production.base.YvsProdValeursQualitative</class>
    <class>yvs.entity.production.pilotage.YvsProdConditionnementDeclaration</class>
    <class>yvs.entity.production.pilotage.YvsProdContenuConditionnement</class>
    <class>yvs.entity.production.pilotage.YvsProdDeclarationProduction</class>
    <class>yvs.entity.production.pilotage.YvsProdFicheConditionnement</class>
    <class>yvs.entity.production.pilotage.YvsProdOfIndicateurSuivi</class>
    <class>yvs.entity.production.pilotage.YvsProdOfSuiviFlux</class>
    <class>yvs.entity.produits.YvsBaseArticleCodeBarre</class>
    <class>yvs.entity.produits.YvsBaseArticleContenuPack</class>
    <class>yvs.entity.produits.YvsBaseArticleDescription</class>
    <class>yvs.entity.produits.YvsBaseArticlePack</class>
    <class>yvs.entity.tiers.YvsBaseVisiteur</class>
    <class>yvs.entity.tiers.YvsBaseVisiteurClient</class>
    <class>yvs.entity.tiers.YvsBaseVisiteurPointLivraison</class>
    <class>yvs.entity.users.YvsUsersFavoris</class>
    <class>yvs.entity.users.YvsUsersGrade</class>
    <class>yvs.entity.compta.analytique.YvsComptaCentreCoutVirement</class>
    <class>yvs.entity.base.YvsBaseParametre</class>
    <class>yvs.entity.commercial.ration.YvsComParamRationSuspension</class>
    <class>yvs.entity.compta.divers.YvsComptaJustifBonAchat</class>
    <class>yvs.entity.grh.activite.YvsGrhObjetsMissionAnalytique</class>
    <class>yvs.entity.compta.analytique.YvsComptaCentreMission</class>
    <class>yvs.entity.production.pilotage.YvsProdSessionOf</class>
    <class>yvs.entity.production.pilotage.YvsProdSessionProd</class>
    <class>yvs.entity.production.pilotage.YvsProdSuiviOperations</class>
    <class>yvs.entity.production.equipe.YvsProdMembresEquipe</class>
    <class>yvs.entity.production.pilotage.YvsProdContentModeleQuantitatif</class>
    <class>yvs.entity.production.pilotage.YvsProdModeleQuantitatif</class>
    <class>yvs.entity.commercial.stock.YvsComContenuDocStockReception</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEnteteFactureVente</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalEnteteBulletin</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalPieceMission</class>
    <class>yvs.entity.synchro.YvsSynchroDataSynchro</class>
    <class>yvs.entity.synchro.YvsSynchroListenTable</class>
    <class>yvs.entity.synchro.YvsSynchroServeurs</class>
    <class>yvs.entity.synchro.YvsSynchroTables</class>
    <class>yvs.entity.commercial.client.YvsComContratsClient</class>
    <class>yvs.entity.commercial.client.YvsComElementAddContratsClient</class>
    <class>yvs.entity.commercial.client.YvsComElementContratsClient</class>
    <class>yvs.entity.commercial.vente.YvsComContenuDocVenteEtat</class>
    <class>yvs.entity.commercial.vente.YvsComDocVentesInformations</class>
    <class>yvs.entity.compta.YvsComptaNotifReglementDocDivers</class>
    <class>yvs.entity.grh.presence.YvsPointeuse</class>
    <class>yvs.entity.stat.dashboard.YvsStatDashboard</class>
    <class>yvs.entity.stat.dashboard.YvsStatDashboardUsers</class>
    <class>yvs.entity.base.YvsBaseTypeDocCategorie</class>
    <class>yvs.entity.users.YvsUserViewAlertes</class>
    <class>yvs.entity.users.YvsWorkflowUserAlert</class>
    <class>yvs.entity.production.base.YvsProdDefaultDepotComposants</class>
    <class>yvs.entity.commercial.stock.YvsComNatureDoc</class>
    <class>yvs.entity.grh.presence.YvsGrhIoemDevice</class>
    <class>yvs.entity.produits.YvsBaseArticlesAvis</class>
    <class>yvs.entity.param.YvsSocietesAvis</class>
    <class>yvs.entity.produits.YvsBasePublicites</class>
    <class>yvs.entity.param.YvsSocietesInfosVente</class>
    <class>yvs.entity.param.YvsDictionnaireInformations</class>
    <class>yvs.entity.base.YvsBaseModeReglementInformations</class>
    <class>yvs.entity.commercial.commission.YvsComCommissionCommerciaux</class>
    <class>yvs.entity.compta.YvsComptaCaissePieceCommission</class>
    <class>yvs.entity.synchro.YvsSynchroServeursVersion</class>
    <class>yvs.entity.param.YvsModuleActive</class>
    <class>yvs.entity.base.YvsBaseDepartement</class>
    <class>yvs.entity.proj.YvsProjDepartement</class>
    <class>yvs.entity.proj.projet.YvsProjProjetService</class>
    <class>yvs.entity.proj.projet.YvsProjProjet</class>
    <class>yvs.entity.proj.projet.YvsProjProjetCaisseDocDivers</class>
    <class>yvs.entity.proj.projet.YvsProjProjetContenuDocAchat</class>
    <class>yvs.entity.proj.projet.YvsProjProjetMissions</class>
    <class>yvs.entity.compta.divers.YvsComptaCaisseDocDiversTiers</class>
    <class>yvs.entity.grh.contrat.retenue.YvsGrhRetenueDocDivers</class>
    <class>yvs.entity.commercial.stock.YvsComDocStocksEcart</class>
    <class>yvs.entity.commercial.stock.YvsComDocStocksValeur</class>
    <class>yvs.entity.commercial.vente.YvsComReglementEcartVente</class>
    <class>yvs.entity.grh.contrat.retenue.YvsGrhRetenueEcartStock</class>
    <class>yvs.entity.grh.contrat.retenue.YvsGrhRetenueEcartVente</class>
    <class>yvs.entity.commercial.stock.YvsComReglementEcartStock</class>
    <class>yvs.entity.compta.saisie.YvsComptaContentJournalRetenueSalaire</class>
    <class>yvs.entity.compta.saisie.YvsComptaReportCompte</class>
    <class>yvs.entity.base.YvsBaseModeReglementBanque</class>
    <class>yvs.entity.compta.YvsComptaJournauxPeriode</class>
    <class>yvs.entity.users.YvsUsersValidite</class>
    <class>yvs.entity.commercial.vente.YvsComProformaVente</class>
    <class>yvs.entity.commercial.vente.YvsComProformaVenteContenu</class>
    <class>yvs.entity.base.YvsBaseMouvementStockLot</class>
    <class>yvs.entity.users.YvsResourcePageGroup</class>
    <class>yvs.entity.base.YvsBasePointVenteUser</class>
    <class>yvs.entity.grh.salaire.YvsGrhElementFormuleNonInterprete</class>
    <class>yvs.entity.grh.salaire.YvsGrhValorisationRetard</class>
    <class>yvs.entity.grh.salaire.YvsGrhValorisationRetenues</class>
    <class>yvs.entity.param.YvsSocietesInfosSuppl</class>
    <class>yvs.entity.param.workflow.YvsWorkflowAlertes</class>
    <class>yvs.entity.param.workflow.YvsWorkflowAlertesUsers</class>
    <class>yvs.entity.print.YvsPrintContratEmployeArticle</class>
    <class>yvs.entity.print.YvsPrintContratEmployeHeader</class>
    <class>yvs.entity.print.YvsPrintDecisionCongeArticle</class>
    <class>yvs.entity.print.YvsPrintDecisionCongeHeader</class>
    <class>yvs.entity.print.YvsPrintFactureVente</class>
    <class>yvs.entity.print.YvsPrintFooter</class>
    <class>yvs.entity.print.YvsPrintHeader</class>
    <class>yvs.entity.print.YvsPrintTicketVente</class>
    <class>yvs.entity.stat.dashboard.YvsWorkflowEtatsSignatures</class>
    <class>yvs.entity.tiers.YvsBaseTiersDocument</class>
    <class>yvs.entity.param.YvsSocietesConnexion</class>
    <class>yvs.entity.commercial.YvsHistoriquePr</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <properties>
      <!--<property name="eclipselink.logging.level" value="FINE"/>-->
    </properties>
  </persistence-unit>
</persistence>
