/*
Fichier pour le style des page de l'appplication
*/
/* 
    Created on : 11 mars 2015, 17:59:05
    Author     : Lymytz_Serveur
*/
#contentApps{
    height: 99.5%; 
    overflow-y: hidden; 
    background: #FFF;  
    overflow-x: hidden;
}
.part_fix{    
    width: 99%;
    padding-left: 5px;    
    padding-right: 5px;
    padding-top: 0px;
    overflow-y: auto;
    height: 40px !important;
}
.part_scroll{    
    z-index: 999999;
    width: 99%;
    height: 100%;
    border-top: 2px solid #CCC;
    padding: 5px;   
    overflow-y: auto;
    /*//color: #ec3c05*/
}

.dlg_part_fixe{
    background: url(../..//resources/img/bg/pattern.png) !important;
}

.dlg_part_scroll{
    height: 90%;
    overflow-y: auto;
}

.bar_toools{
    background: url(../..//resources/img/bg/pattern.png) #fff !important;
    height: 51px;
}
.bar_toools a img{
    border:  2px solid #626262;
    margin-left: 9px;
}

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
}


.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ui-selectmenu-menu .ui-menu {
    overflow: auto;
    /* Support: IE7 */
    overflow-x: hidden;
    padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: 2px 0.4em;
    margin: 0.5em 0 0 0;
    height: auto;
    border: 0;
}
.ui-selectmenu-open {
    display: block;
}
.ui-selectmenu-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.ui-selectmenu-button span.ui-icon {
    right: 0.5em;
    left: auto;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    text-align: left;
    padding: 0.4em 2.1em 0.4em 1em;
    display: block;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-button{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}
.ui-button:active{
    box-shadow: none;    
}
.ui-button:focus{
    box-shadow: none;    
}

/*@supports(pointer-events: none) and
((-webkit-appearance: none) or
(-moz-appearance: none) or
(appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em;  accommodate with the pseudo elements for the dropdown arrow 
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after {   Custom dropdown arrow 
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before {   Custom dropdown arrow cover 
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

     White dropdown style 
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

     FF only temp fix 
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}*/


/*--------------------------------------*/
/*//Style data table*/
/*-------------------------------------*/

table.yvs_data_table, table.yvs_data_table_{
    border: 2px solid #ccc;
    border-top: none;
    border-right: none;
    margin: 0px;padding: 0px;
    background: white;    
}
table.yvs_data_table td, table.yvs_data_table_ td{
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    /*height: 25px;*/    
    margin: 0px; padding: 5px 8px 5px 8px;
}
table.yvs_data_table tr td:last-child, table.yvs_data_table_ tr td:last-child{
    border: 1px solid #ccc;   
    border-top: none;
}

table.yvs_data_table .lineOver, table.yvs_data_table_ tr td .lineOver{
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219)) ;
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    color: red !important;
}
table.yvs_data_table tbody tr td a{
    text-decoration: none;
    width: 100%; height: 100%; display: inline-block;    
}
.ui-dataTable a{
    text-decoration: none;
    width: 100%; height: 100%; display: inline-block
}
table.yvs_data_table tbody .lineSelect{
    background: yellowgreen !important;
    color: white !important;
    font-weight: bold !important;
}

.colData{
    width: 125px;
}
.ui-widget-header{
    border: none;
}
.firstLine{
    display: none;
}
.ui-menu-item {
    padding: 0px !important;
    margin: 0px !important;
}
.tooltipClass{
    border: 2px solid #006666; background: darkseagreen; 
    padding: 5px; color: white; font-weight: bold;
    font-style: italic;
    font-size: 0.9em;
}
.input_dis{
    display: inline-block;
    width: 190px;
    padding: 5px;
    background: #ccc;
    font-weight: bold;
}

fieldset legend span{
    cursor: pointer;
}
.texte_total{
    font-weight: bold;
    color: #003399;
}

.signes_op{
    margin: 2px;
    padding: 2px 5px 2px 5px;
    border: 2px solid #006666; background: darkseagreen; 
    min-width: 10px;
    width: auto;
    display: inline-block;
    border-radius: 5px;  
    cursor: pointer;
    color: white;
}
.signes_op:hover{  
    border: 2px solid #006666; background: #045491; 
    color: white;
}

.title_symbol{
    padding:0px;
    margin: 0px;
    font-weight: bold;
}

.ui-menu-list{
    overflow-x: hidden;
}
.pause{
    font-weight: bold;
    color: darkgreen;
}

/****Formulaire articles****/

.photos_article{
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%, hsla(0,0%,86%,1) 50%, hsla(0,0%,82%,1) 51%, hsla(0,0%,100%,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(0,0%,89%,1)), color-stop(50%,hsla(0,0%,86%,1)), color-stop(51%,hsla(0,0%,82%,1)), color-stop(100%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    max-height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5px;
    /*border:  3px solid #626262;*/
}
.head_form_article{
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%, hsla(0,0%,86%,1) 50%, hsla(0,0%,82%,1) 51%, hsla(0,0%,100%,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(0,0%,89%,1)), color-stop(50%,hsla(0,0%,86%,1)), color-stop(51%,hsla(0,0%,82%,1)), color-stop(100%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */   
    /*border:  3px solid #626262;*/
}
table.head_form_article td{
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    /*height: 25px;*/    
    margin: 0px; padding: 5px 8px 5px 8px;
}


.yvs-dialog-footer{
    /*background: #FFF url("../..//img/pattern.png") 50% 50% repeat-x;*/
    position: absolute;
    height: 35px;
    background: #dddddd;
    bottom: 3px;
    width: 98%;
    margin: auto;
    overflow: hidden;
}

.blocClass{
    width: 45%;
    height: 100%;
}
.art_model_{
    display: none;
}

.vue-img{
    background: url(../../icones/kblackbox.png);
}
.article_img, article_img_{
    max-width: 95%;    
    cursor: pointer;
    height: auto;   
    text-align: center;
    max-height: 150px;
    /*border-radius: 50%*/
}
.article_img_inactif{
    display: none;
}
.styleT{
    font-size: 1em;
    color: #FFF000; 
}

.file_false{
    height: 17px;
    background: transparent;
    border: 1px solid #3c78ba;
    float: left;
    list-style-type: none;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.3) ;
    border-radius: 3px;
    padding: 5px;
    width: auto;
}
.file_true{
    background: #0066cc; color: white;
    height: 17px;
    border: 1px solid #3c78ba;
    float: left;
    list-style-type: none;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.3) ;
    border-radius: 3px;
    padding: 5px;
    width: auto;
}
.marquer_true{
    background: crimson; color: white;
}
.marquer_false{

}

.numero {
    position: relative; 
    color:#fff;
    margin-left: 50%; font-weight: bold;
    font-size: .9em; padding: 0.2em 0.5em 0.2em 0.5em;
    width:20px;
    height:20px;
    background: #4c95cd;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
    background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
    text-align:center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.statut {
    position: relative; 
    color:#fff;
    font-weight: bold;
    font-size: .9em; padding: 0.2em 0.5em 0.2em 0.5em;
    background: #4c95cd;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
    background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
    background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
    text-align:center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.statut-green {
    position: relative; 
    color:#fff;
    font-weight: bold;
    font-size: .9em; padding: 0.2em 0.5em 0.2em 0.5em;
    background: green;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  green 0%, co 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,green), color-stop(100%,#004F0F));
    background: -webkit-linear-gradient(top,  green green,#004F0F 100%);
    background: -o-linear-gradient(top,  green 0%,#004F0F 100%);
    background: -ms-linear-gradient(top,  green 0%,#004F0F 100%);
    background: linear-gradient(to bottom,  green 0%,#004F0F 100%);
    text-align:center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.statut-red {
    position: relative; 
    color:#fff;
    font-weight: bold;
    font-size: .9em; padding: 0.2em 0.5em 0.2em 0.5em;
    background: red;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  green 0%, co 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,#FF0033));
    background: -webkit-linear-gradient(top,  red red,#FF0033 100%);
    background: -o-linear-gradient(top,  red 0%,#FF0033 100%);
    background: -ms-linear-gradient(top,  red 0%,#FF0033 100%);
    background: linear-gradient(to bottom,  red 0%,#FF0033 100%);
    text-align:center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.statut .red {
    background: red;
}


table footer table th{
    background: red !important;
}
table.yvs_table{
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    margin: 0px;padding: 0px;
    background: white;    
}
table.yvs_table td{
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    height: 30px;    
    margin: 0px; padding: 1px 8px 1px 8px;


}
table.yvs_table th{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -moz-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%, hsla(0,0%,86%,1) 50%, hsla(0,0%,82%,1) 51%, hsla(0,0%,100%,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(0,0%,89%,1)), color-stop(50%,hsla(0,0%,86%,1)), color-stop(51%,hsla(0,0%,82%,1)), color-stop(100%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* W3C */
}
.div_head{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -moz-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%, hsla(0,0%,86%,1) 50%, hsla(0,0%,82%,1) 51%, hsla(0,0%,100%,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(0,0%,89%,1)), color-stop(50%,hsla(0,0%,86%,1)), color-stop(51%,hsla(0,0%,82%,1)), color-stop(100%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  hsla(0,0%,89%,1) 0%,hsla(0,0%,86%,1) 50%,hsla(0,0%,82%,1) 51%,hsla(0,0%,100%,1) 100%); /* W3C */
}
table.yvs_nostyle{
    border: none !important;    
    margin: 0px;padding: 0px;    
}
table.yvs_nostyle td{
    border: none !important;     
    margin: 0px; padding: 1px 8px 5px 8px;
}

table.yvs_nostyle_without_padding{
    border: none;    
    margin: 0px;padding: 0px;
}
table.yvs_nostyle_without_padding td{
    border: none;     
    margin: 0px; height: 10px;
    border-bottom:  1px solid #ccc;

}

table.ui-panelgrid-header{
    background: #FFF !important;

}
table.color_ td{
    background: #99ffcc; 

}
input.zone_apercu{
    background: #003399;
    font-weight: bold;
    text-align: center;
    z-index: 0;
    color: white;
}
.butonOption{
    background: transparent;
    font-size: 6pt !important;
    color: #006666 !important;
}

.zone_find{
    width: 92.5%;
    margin: auto;
    /*background: url(../..//resources/img/bg/pattern.png) #cccccc;*/
    background: #ccc;    
    position: absolute;
    padding-right: 3%;
    padding-left: 1%;
    bottom: 3.1%;
    font-style: italic;
    border: 1.5px solid #333;
    height: 95px;    
}
.zone_find input, .zone_find select{
    background: #d3fce6;   
    text-align: center;    
    color: black;
    font-size: 1em;
    border-radius: 5px;
}

.display_auteur_dlg{
    background: #FFF;
    border: 1px solid #CCC;
    color: #666; font-size: 0.8em; 
    padding:4px;
    margin-top: 55px;
    width: 100%;
    margin: auto;
    background: #EEE;
}
.display_auteur{
    background: #FFF;
    border: 1px solid #CCC;
    color: #666; font-size: 0.8em; 
    padding:4px;
    padding-top:15px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    margin: auto;
    height: 15px;
}
.display_auteur .valeur{
    font-weight: bold; 
    font-size: 0.7em;
}
.counter_navigue:before{
    content: '';
}
.counter_navigue:after{
    content: '';
}

.svgMenu_l:hover, .svgMenu_r:hover{
    cursor: pointer;
    /*width: 11px;*/
}

.ui-datatable-data  .ouvrable_false{
    background: #fff3ef !important;
    font-weight: 200;
}

.ui-datatable-data  .statut_true{
    background: #ccffcc !important;
}

.ui-datatable-data  .statut_false{

}

.ui-datatable-data .line_valide_true{
    color: #009999;
    font-weight: bold;
    text-align: center;

}
.ui-datatable-data .line_valide_false{
    text-align: center;
    font-style: italic;
}
/*Ligne valide*/
.ui-datatable-data .line_statut_V{
    color: dodgerblue;
}
/*Ligne annulé*/
.ui-datatable-data .line_statut_A{
    color: #D20005;
}
/*Ligne clôturé*/
.ui-datatable-data .line_statut_C{
    color: #009999;
}


.ui-datatable-data .statutMesn_R, .ui-datatable-data .statutMesn_P{
    color: #009999 !important;
    font-weight: 200;
}
.ui-datatable-data .statutMesn_E{
    background: none !important;
    font-weight: 200;
}
.ui-datatable-data .statutMesn_S{
    color: #a90329!important;
    color: white;
    font-weight: 200;
}
.ui-datatable-data .lineFooter_true{
    background: #CCC;
    font-weight: bold;
    color: #003333;
}
.ui-datatable-data .ligth{
    background: #c2dfef;
    font-weight: bold;
    color: #000;
}
.ui-datatable-data .line_W{
    background: #ece3a5;
    font-weight: bold;
    color: #000;
}
.ui-datatable-data .line_disabled_true{
    background: #ccc;
    color: #666;
    opacity: 0.7;
}
.ui-datatable-data .line_light_true{
    color: #333;
    background-color: #ffff99;
    opacity: 0.8;
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 8px;
    font-style: italic;
}

.style_statut{
    font-weight: bold;
    border: 2px solid #666; 
    border-radius: 5px;
    padding: 2px;
    background: black;
    color: white
}

.style_statut_blue{
    font-weight: bold;
    border: 2px solid #666; 
    border-radius: 5px;
    padding: 2px;
    background: #0066ff;
    color: white
}

/*Style pour le statut des ordre de mission, formation etc'*/

.statut_valide{
    padding: 4px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #333333;
    font-size: 0.9em;
    background: yellowgreen !important;
    opacity: 1;
}

.statu_valide{
    padding: 3.25px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #333333;
    font-size: 0.9em;
    background: yellowgreen !important;
    opacity: 1;
}
.statu_invalid{
    padding: 3.25px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: aqua;
    font-size: 0.9em;
    background: #0099ff;
    opacity: 1;
}
.statu_valide:after, .statut_valide:after, .statu_suspendu:after, .statu_annule:after{
    content: ' \2713';
    color: #FFF;
    font-size: 0.7em;
}
.statu_suspendu{
    padding: 2px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #FFF;
    font-size: 0.9em;
    background: brown !important;
    opacity: 1;
}
.statu_annule{
    padding: 2px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    background: #ffcccc !important;
    opacity: 1;
}


/*Colonne de récap des présence d'une journée'*/
.ui-datatable-data .col_heureService{
    color: #003399;
    font-weight: bold;
    text-align: center;
}
.ui-datatable-data .col_Absence{
    color: brown;
    text-align: center;
    font-weight: bold;
}

/*Style de la barre de recherche employé du formulaire présence*/
.hide_date, .hide_date_{
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
    text-align: center;
}
.display_date, .display_date_{
    display: block;
}

.texte_abs_true{
    color: #c78484;
    font-style: italic;
    font-size: .8em;
}

/*Etat des ordres de mission*/
.ui-datatable-data .statutMiss_E, .ui-datatable-data .etat_E{
    color: #f6a828;
}
.ui-datatable-data .statutMiss_R, .ui-datatable-data .etat_R{
    color: #c17600;
}
.ui-datatable-data .statutMiss_V ,.ui-datatable-data .etat_V, .ui-datatable-data .etat_P{
    color: #009999;
}
.ui-datatable-data .statutMiss_A,.ui-datatable-data .etat_A{
    color: crimson;
}
.ui-datatable-data .statutMiss_C,.ui-datatable-data .etat_C{
    color: #003399;
}
.ui-datatable-data .statutMiss_S,.ui-datatable-data .etat_S{
    color: #D20005;
}
.ui-datatable-data .statutMiss_P, .ui-datatable-data .etat_P{
    color: dodgerblue;
}
.ui-datatable-data .statutMiss_U,.ui-datatable-data .etat_U{
    color: #990099;
}
/**statut valider / invalider fiche de présence**/
.false_style{
    background: #ece3a5;
    font-weight: bold;
}

/*Statut d'une Affectation'*/
.etat_formation_false{
    padding: 4px;
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #333333;
    font-size: 0.9em;
    background: #35afe3;
    opacity: 1;   
}
.etat_formation_true{
    padding: 3.25px; 
    border-radius: 5px;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
    background: #0099ff;
    opacity: 1;
}
/*Style de ligne marquant l'espace entre deux pointage*/
.transient_true{
    background: #fc4cEc !important;
    color: #FFF;
    font-size: 0.8em;
    font-style: italic;
}
/*Contrat suspendu, primes suspendu*/
.ui-datatable-data .prime_sus_true{
    color: #a90329;
    font-style: italic; font-weight: bold;
}

.ui-datatable-data .prime_perm_false{
    color: tomato;
    font-style: italic; font-weight: bold;
}

/*Statut doc appro*/
.button-stateOF_actif{
    padding: 3px;
    border-radius: 5px;
    background: #07a242 !important;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    text-decoration: none !important;
    text-shadow: none !important;
    color: #CCC;    
}
.button-stateOF_actif:after{
    content: ' \2713';
    color: #FFF;
    font-size: 0.7em;
}

.button-stateOF{
    padding: 3px;
    border-radius: 5px;
    background: #0099ff;
    margin-right: 0.1px;
    border-right: solid 3px #006666;
    border-left: solid 3px #006666;
    text-decoration: none !important;
    text-shadow: none !important;
    color: #000066 !important;     
    font-weight: normal !important;
}

/*Etats bulletin*/

.ui-datatable-data .etatBull_C{
    color: #009999;
    font-weight: bold;
    font-size: 0.9em;
}
.ui-datatable-data .etatBull_B{
    color: #000000;
    font-style: italic;
    font-size: 0.9em;
}
.ui-datatable-data .etatBull_P{
    color: #003399;
}

/*style des menu contextuel*/
.context_menu, .ui-contextmenu, .ui-menu{
    background: #EEE !important;
    color: #000 !important;
    font-size: 0.9em;
}
.ui-contextmenu .ui-menuitem-text, .context_menu .ui-menuitem-icon, .ui-menu .ui-menuitem-text{
    color: #000 !important;
}

.etatChInactif{
    color: #a90329;
}

/*Etat des documents commerciaux*/
.ui-datatable-data .statut_E{

}
.ui-datatable-data .statut_R{
    color: #B8860B;
}
.ui-datatable-data .statut_V{
    color: #0066cc;
}
.ui-datatable-data .statut_A{
    color: #D20005;
}
.ui-datatable-data .statut_P{
    color: #009999;
}
.ui-datatable-data .statut_U{
    color: #990099;
}
.ui-datatable-data .statut_L{
    color: #B8860B;
    font-weight: bold;
}
.ui-datatable-data .statut_T{
    color: forestgreen;
    font-size: 0.9em;
}
.ui-datatable-data .statut_C{
    color: forestgreen;
    font-weight: bold;
}
.ui-datatable-data .line_actiftrue{
    background: yellowgreen;
}
.ui-datatable-data .line_disable{
    color: #666;
    background: #dddddd;
    opacity: 0.4;
}
.ui-datatable-data .line_psf_true{
    background: #FFFAF0;
}

.statut_E{

}
.statut_R{
    color: #B8860B;
}
.statut_V{
    color: #0066cc;
}

.statut_A{
    color: #D20005;
}

.statut_S{
    color: #D20005;
}

.statut_P{
    color: #009999;
}
.statut_U{
    color: #990099;
}
.statut_L{
    color: #B8860B;
}

.E{

}
.R{
    color: #c17600;
}
.V, .C{
    background: #0066cc;
}
.A{
    background: #D20005;
}
.P{
    background: #009999;
}
.U{
    background: #990099;
}
.L{
    background: #003333;
}

.contenu{
    text-align: center!important;
    padding-top: 10px;
}

.contenu_V{
    border: 2px solid #666;
    border-radius: 5px;
    background: #4c95cd;
    color: white !important;
    font-weight: bold;
}

.contenu_R{
    border: 2px solid #666;
    border-radius: 5px;
    background: #c17600;
    color: white !important;
    font-weight: bold;
}
.contenu_E{
    border: 2px solid #666;
    border-radius: 5px;
    background: #666;
    color: white !important;
    font-weight: bold;
}

.styleTotalFacture{
    color:#000;
    font-weight: bold;
}
.styleTotalNet{
    color: #006666;
    font-weight: bold;
}
.styleTotalAvance{
    color:#0099ff;
    font-weight: bold;
}
.icon_actif_true{
    width: 20px;
    height: 20px;
    border: 1px solid #a90329;
}
.champ_pagination{
    font-size: 0.9em;
    width: 70px;
}
.alerte_solde_true{
    background: crimson;
    color: #FFF;
}

.style_unite{
    margin-left: 2px;
    font-size: 0.8em;
    color: blue;
    font-style: italic;
}

.indice_statut{
    font-family: "Times New Roman";
    color: #0066ff;
    text-decoration-color: #35afe3;
    font-weight: bold;
    font-size: 1.1em;
}

.style_identifiant{
    border: 2px double #FFF; 
    color: #FFF; 
    background: #333 ; 
    padding: 3px; 
    margin-top: 2px; 
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
}

.style_identifiant_white{
    border: 1px solid #045491; 
    color: #000; 
    background: #FFF; 
    padding: 3px; 
    margin-right: -9px;
    cursor: pointer;
    text-align: center;
}
.style_reference{
    color: #FFF; 
    background: #000 ; 
    padding: 3px; 
    font-size: 0.8em;
    cursor: pointer;
}

.wrap_zone_op{
    height: 180px; 
    width: 100%; 
    padding: 4px; 
    background: #333; 
    overflow-x: auto; 
    display: inline-block;
    max-width: 100%
}
div.header_section{
    width: 99%;
    background: #333;
    color: #FFF;
    padding: 4px;
}

.care_op{
    height: 170px;
    background: #FFF;
    border: 1px double #CCC;
    float: left;
    display: inline;
}
.care_op .header{
    height: 27px; 
    background: #e1e1e1;
    /*padding: 4px;*/
}
.care_op .header .num_op{
    border-right: 2px double #000;
    width: 40px;
    display: inline-block;
    padding: 4px;
    background: #333;
    color: #FFF;
    text-align: center
}
.care_op .header .titre_op{
    display: inline-block;    
    text-align: center;
    font-size: 0.8em;
}
.repeatZone{
    overflow-x: scroll;
    display: block; background: red;
    width: 10px;
}

.head_niveau1{
    background: #ccc;
    color: #000;
    padding: 3px;
}

.table_niveau tr th{
    font-size: 0.8em;
    border: 0.5px solid #aaa;
    padding: 4px;
    background: #aafab3;

}
.table_niveau tr th, .table_niveau tr td{
    font-size: 0.8em;
    border: 0.5px solid #aaa;
    padding: 2px;

}
.table_niveau tr td{
    padding: 5px;

}

.table_niveau tr td.production{   
    color: #07a242 ;     
    text-align: right;
}
.table_niveau tr td.consomation{   
    color: #911c2d;    
    text-align: right;  
}
.table_niveau tr{
    font-weight: normal;
}
td.number{
    text-align: right;    
    width: 100px;
}
.display_cycle{
    background: #cccccc;
    margin: auto;
    position: absolute;
    left: 5%;
    width: 95%;
    padding-right: 5%;
    bottom: -1%;
    font-style: italic;
    border-top: 1px solid #333;
    border-radius: 10px;
    height: 80px;  
}
.display_cycle input{
    background: #006666;
}

/*Page suivi opérationnel des OF*/

.zone_of_show{
    float: left;
    width: 40%;
    overflow-x: auto;
    min-height: 600px; 
    height: 100%; 
    border-right: 1px solid #333;
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.zone_form_of_show{
    margin-left: 41%;
}

.block_slide_entoure{
    width: 99.5%; 
    border: solid 2px; 
    padding: 2px; 
    padding-bottom: 5px;    
    border-radius: 5px;
}
/*...End page suivi opérationnel des OF...*/

.presence_P{
    color: #07a242;
}
.presence_A{
    color: brown;
}
.presence_R,.presence_M,.presence_C,.presence_F {
    color: #00cccc;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin:5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .header{
    alignment-adjust: central;
    margin: auto;
    text-align: center;
    background: #e7e7e7;
    padding: 10px;
}

.card .title{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}

.card .title .sub-title{
    color: grey;
    font-size: 0.8em;
    font-weight: normal;
}

.card .description{
    display: block;
    padding: 10px;
}

.card .description span, card .description .value{
    display: block;
}

.card .description span{
    color: grey;
}

.card .description .value{
    color: black;
    margin-bottom: 10px;
}

.card .footer{
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #e7e7e7;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.facet-no-style{
    color: black !important;
    font-weight: bold !important;
    background: white !important;
    padding:5px !important;
}