/*
Ce fichier permet de redéfinir le style des composant (primefaces en particulier)
    Created on : 7 mars 2015, 23:05:47
    Author     : Lymytz_Serveur
*/


input{
    /*width: 99%;*/
}
select{

    /*width: 99%;*/
}
input, select, .ui-inputfield{
    -moz-box-shadow: 1px 1px 1px 1px #009999 inset;
    -webkit-box-shadow: 1px 1px 10px 1px #9a0000;
    -o-box-shadow: 1px 1px 1px 1px #9a0000;
    box-shadow: 1px 1px 3px 0.1px #009999 inset;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9a0000, Direction=134, Strength=90);
    cursor: pointer;
    border-radius: 4px;
    /*height: 22px;*/
    background: white;
    padding: 3px;
}
input[type='checkbox']{
    /*width: 20px;*/
}
select{
    /*height: 25px;*/
}
textArea{
    -moz-box-shadow: 1px 1px 1px 1px #009999;
    -webkit-box-shadow: 1px 1px 10px 1px #9a0000;
    -o-box-shadow: 1px 1px 1px 1px #9a0000;
    box-shadow: 1px 1px 0.1px 0.1px #009999;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9a0000, Direction=134, Strength=90);
    cursor: pointer;
    border-radius: 4px;
    background: white;
}
input:hover, select:hover, textArea:hover{
    -moz-box-shadow: 1px 1px 5px 1px #9a0000;
    -webkit-box-shadow: 1px 1px 5px 1px #9a0000;
    -o-box-shadow: 1px 1px 5px 1px #9a0000;
    box-shadow: 1px 1px 10px 1px #009999;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9a0000, Direction=134, Strength=90);
    cursor: text;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
input[type='radio']:hover{
    cursor: pointer;
}
select:hover{
    cursor: pointer;
}
.ui-dialog-titlebar{
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
    display: none;
    color: #fff;
    letter-spacing: 2px;
}
.ui-datatable-tablewrapper{
    /*border-top-left-radius: 15px !important;*/
}
.ui-dataTable thead th{
    font-size: 0.9em !important;
    border: 0.1px solid #333 !important;
    letter-spacing: 1px;
    font-weight: 400;
    /*transform: translateZ(100px)!important;*/ 
}
.ui-column-title{
    font-size: .8em;
}
.ui-dataTable table td{
    font-size: 0.9em !important;    
    font-weight: 400;
    padding: 2px !important;
    height: 25px ;
}
.ui-accordion .ui-accordion-header {
    font-size: 0.9em;
/*    color: #FFF;
    background: linear-gradient(
        #666 100% ,#fff 1%, rgba(100,100,100,1) 99%); */
    letter-spacing: 2px;
}
.ui-datatable-header{
    background: #CCC !important;
    padding: 1px !important;
    font-weight: normal !important
}
.ui-datatable th{
    background: #ccc !important;
    color: #333 !important;
    font-weight: bold;
}
.ui-column-title{
    cursor: pointer !important;
}
.ui-column-filter{
    font-size: 0.8em; 
    background: #ece3a5 !important;
    float: right !important;
    /*display: none !important;*/
    padding: 0px !important;
}
.ui-picklist-list{
    width: 100% !important;
}

.ui-picklist-list-source{
    width: 50% !important;
}
.ui-picklist-list-target{
    width: 50% !important;
}

.ui-tabs-nav{
    background:  #666 !important;
    padding: 0px !important;  margin: 0px !important;
    height: 0px !important;
}
.ui-tabs-panel{
    clear: left !important;
}

.ui-tabs .ui-corner-top{
    /*background: #999999 !important;*/
    padding: 0px !important;  margin: 0px !important;
    border-radius: 0px !important;
    border-right: 2px solid #35afe3 !important;
    background-image: none !important;

}
.ui-tabs .ui-corner-top:hover{
    /*background: #999999 !important;*/
    box-shadow: none !important;
    background: #aaa !important ;
    color: #333 !important;

}

.ui-tabs-selected, .ui-state-active{
    background:  #FFF !important;
    color: #333 !important;
}

.ui-tabs-nav li a, .ui-tabs-nav li a{
    text-shadow: none !important;
    color: #FFF ;
    font-size: 0.9em !important;
}

.ui-tabs-selected li a, .ui-state-active li a{
    color: #333 !important;
}

.ui-radiobutton{
    margin: 4px !important;
}


.ui-widget-overlay {
    /*background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;*/
    opacity: .5;
    filter: Alpha(Opacity=50); /* support: IE8 */
}
.bg_cell{
    background: url('../img/bg/pattern.png') repeat #ccc !important;
    margin: 0px !important;
    padding: 0px !important;
}

.ui-dialog-titlebar{

    /*    background-color: #35afe3;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
        background-image: -webkit-linear-gradient(top, #045491, #045491);
        background-image: -moz-linear-gradient(top, #045491, #045491);
        background-image: -o-linear-gradient(top, #045491, white, rgb(38, 152, 219));
        background-image: -ms-linear-gradient(top, #045491, white, rgb(38, 152, 219));*/
    /*background-image: linear-gradient(top, #333,#045491) !important;*/
    background: linear-gradient(
        #333 100% ,#fff 1%, rgba(100,100,100,1) 99%) !important;
    color: white;
    /*    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
            0 3px 5px rgba(0, 0, 0, .2),
            0 5px 10px rgba(0, 0, 0, .2),
            0 20px 20px rgba(0, 0, 0, .15);*/
    letter-spacing: 2px;
    text-shadow: none;

}

.ui-panel-titlebar{
    height: 20px !important;
    background: #cccccc !important;    
    font-size: 0.9em !important;
    padding: 0px !important;
}

.ui-panel{
    padding: 0px !important;
    margin: 0px !important;
}

.ui-dialog-content{
    border-top: solid 2px #000 !important;
    border-bottom: solid 2px #000 !important;

}

.ui-dialog.dlg_panel .ui-dialog-content{
    background: none !important;
    border-top: solid 2px #000 !important;
    border-bottom: solid 2px #000 !important;
}
.ui-dialog.dlg_panel{
    box-shadow: none !important;
    border: none !important;
}

fieldset.secondFieldSet{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #333;
    border-top: 5px solid #cccccc;
    background:white;
    margin: 5px;     
}
fieldset.secondFieldSet legend{
    font-weight: bold;
    color: #006666;
    padding: 5px;     
    background:  none;
}

fieldset {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #666;
    border-top: 2px solid #666;
    background:white;
    margin: 5px;
}
fieldset legend{
    padding: 3px;
}

.ui-panel-titlebar,.ui-tabs-nav{
    height: 35px !important;    
}
.ui-menu{
    background: #c2dfef;
}
.ui-menu-list{
    /*background: #c2dfef;*/
    width: 220px;
}
.ui-button{
    background: transparent;
    height: 30px;
}
.ui-splitbutton-menubutton{
    height: 30px;
}
.ui-button-text{
    color: brown;
    font-size: 8pt;
}

.ui-datatable .ui-datatable-subtable-header{
    color: brown !important;
    font-size: 0.9em;

}
#data_epargne_data tr.ui-widget-content{
    height: 25px !important;
}

#data_epargne_data tr.ui-widget-content:hover{
    background: #c2dfef;    
    box-shadow: 1px 1px 14px 4px #72A8E5; 
} 

#data_credit_condition tr.ui-widget-content{
    height: 35px;
    box-shadow: 1px 1px 1px 1px #72A8E5; 
} 
.ui-panel-titlebar{
    height: 22px !important;
    background: #FFF !important;
}
.ui-selectonebutton .ui-button{
    background: inherit ;
    height: 25px !important;    
}
.ui-selectonebutton .ui-button input[type="radio"]:checked{
    background: blue !important;
    height: 25px !important;    
}
.ui-selectonebutton .ui-button-text{
    color: violet;
}
::-ms-check {
    color: red;
    background: black;
    padding: 1em;
}
.dynamicHeightScrollableTable .ui-datatable-scrollable-body {
    height: auto !important;
    max-height: 550px;
    overflow-y: scroll;
}

